---
layout: default
---

<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
		<ul class="grid">
			<li class="grid-sizer"></li><!-- for Masonry column width -->

			{% for post in site.categories['portfolio'] %}
			<li>
				<figure>
					<img src="{{ site.url }}/portfolio/photo/thumb/portfolio/{{ post.photo }}" alt="{{ Anne Muehlmeier - Model und Schauspielerin }}"/>
				</figure>
			</li>
			{% endfor %}
		</ul>
	</section>

	<section class="slideshow">
		<ul>
			{% for post in site.categories['portfolio'] %}
			<li>
				<figure>
					<img src="{{ site.url }}/portfolio/photo/large/portfolio/{{ post.photo }}" alt="{{ post.caption_header }}"/>
				</figure>
			</li>
			{% endfor %}
		</ul>
		<nav>
			<span class="nav-prev pe-7s-angle-left"></span>
			<span class="nav-next pe-7s-angle-right"></span>
			<span class="nav-close pe-7s-close" id="close"></span>
		</nav>

	</section>

</div>

<a href="{{ site.url }}/impressum/" id="impressum">Impressum</a>
