---
layout: default
---

<div id="grid-gallery" class="grid-gallery">

  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li><!-- for Masonry column width -->

      {% for vimeo in site.data.vimeo %}
      <li>
        <figure class="video-figure">
          <img class="video-thumbs" src="{{ vimeo.thumbnail_large }}" alt="{{ vimeo.title}}"/>
        </figure>
        <span class="video-title">{{ vimeo.title }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>

  <section class="slideshow">
    <ul>
      {% for vimeo in site.data.vimeo %}
      <li>
        <figure>
          <iframe id="current_video" src="http://player.vimeo.com/video/{{ vimeo.id }}?api=1&color=ffffff&title=0&byline=0&portrait=0" width="68%" height="56%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </figure>
      </li>
      {% endfor %}
    </ul>
    <nav>
      <span class="nav-prev pe-7s-angle-left" id="prev"></span>
      <span class="nav-next pe-7s-angle-right" id="next"></span>
      <span class="nav-close pe-7s-close" id="close"></span>
    </nav>
  </section>

</div>

<a href="{{ site.url }}/impressum/" id="impressum">Impressum</a>

<script src="{{ site.url }}/js/imagesloaded.pkgd.min.js"></script>
<script src="{{ site.url }}/js/masonry.pkgd.min.js"></script>
<script src="{{ site.url }}/js/classie.js"></script>
<script src="{{ site.url }}/js/cbpGridGallery.js"></script>
<script src="{{ site.url }}/js/froogaloop.min.js"></script>
<script>
  new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
<script>
  function pauseAll() {
    $('iframe[src*="vimeo.com"]').each(function () {
      $f(this).api('pause');
    });
  }

  var closeButton = document.getElementById("close");
  var prevButton = document.getElementById("prev");
  var nextButton = document.getElementById("next");

  closeButton.addEventListener("click", function() {
    pauseAll();
  });
  prevButton.addEventListener("click", function() {
    pauseAll();
  });
  nextButton.addEventListener("click", function() {
    pauseAll();
  });
</script>