---
layout: default
---

<div id="grid-gallery" class="grid-gallery">

  <section class="grid-wrap">
    <ul class="grid">
      <li class="grid-sizer"></li><!-- for Masonry column width -->

      {% for post in site.categories['video'] reversed %}
      <li>
        <li>
          <figure>
            <!-- <img src="{{ site.url }}/img/thumb/{{ post.photo }}" alt="{{ }}"/> -->
            <img src="/img/thumb/video/{{ post.photo }}" alt="{{ }}"/>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="slideshow">
      <ul>
        {% for post in site.categories['video'] reversed %}
        <li>
        <iframe class="current_video" src="https://player.vimeo.com/video/{{ post.video_id }}" width="75%" height="42%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </li>
          {% endfor %}
        </ul>
        <nav>
          <span class="icon nav-prev"></span>
          <span class="icon nav-next"></span>
          <span class="icon nav-close" id="close"></span>
        </nav>

      </section>

    </div>

    <a href="/impressum/" id="impressum">Impressum</a>