<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.name }}</title>
  <meta name="description" content="{{ site.name }} - Model & Actress - Model und Schauspielerin" />
  <meta name="keywords" content="model, photography, anne muehlmeier, anne mühlmeier, die wilden kerle, actress, schauspielerin" />
  <meta name="author" content="Dan Bender" />

    <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/component.css" />
    <script src="{{ site.url }}/js/modernizr.custom.js"></script> -->

    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <script src="/js/modernizr.custom.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="clearfix">
      <a href="/"><h1>{{ site.name }}</h1></a>
        <nav class="">
          <ul>
            <li><a href="/">Portfolio</a></li>
            <li><a href="/video">Video</a></li>
            <li><a href="http://annemuehlmeier.tumblr.com/" target="_blank">News</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </header>

      {{ content }}

    </div>


    <!--  <script src="{{ site.url }}/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.url }}/js/masonry.pkgd.min.js"></script>
    <script src="{{ site.url }}/js/classie.js"></script>
    <script src="{{ site.url }}/js/cbpGridGallery.js"></script> -->

    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpGridGallery.js"></script>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
  </body>
  </html>
